.idea
*.swp
*.swo
*.new
*-new.json
note
note-*
hardware/servers/setup/sum*
*.passwords
sum.log
Supermicro_*_*.*.log.*_*
users/userdata/vpn/
venv
__pycache__

# cookiecutter settings
.venv
venv
Pipfile.lock
id_rsa.operator
ironic-agent.initramfs
ironic-agent.kernel
secrets
secure.yml
