#!/bin/bash

set -x

BASE="/root/frr"
SYSTEM_HOSTNAME="$(ipmitool dcmi get_mc_id_string|awk '/^.*:/{hostname=$0;gsub(/^(..*): /, "", hostname);printf("%s", hostname); exit}')"
BMC_IP="$(ipmitool lan print |awk '/^IP Address[ ]*:/{hostname=$0;gsub(/^(..*): /, "", hostname);printf("%s", hostname); exit}')"
IP4_SUFFIX="$(echo "$BMC_IP"|grep -P -oh '\d+$')"
IP6_SUFFIX={% if ipv6_hex == 'true' %}"$(printf "%x" "$IP4_SUFFIX")"{% else %}$IP4_SUFFIX{% endif %}

echo "Name is: $SYSTEM_HOSTNAME, IPv4 suffix is: $IP4_SUFFIX, BMC IP is: $BMC_IP"

dpkg -i  $BASE/*.deb
# otherwise, apt-get autoremove revoves the packages at the end of the installation
ls -1 $BASE/*.deb|sed -e 's,_.*$,' -e 's,^.*/,,' | xargs apt-mark manual

echo $SYSTEM_HOSTNAME > /etc/hostname


rm -f /etc/netplan/00-installer-config.yaml
sed -e "s/OSISM_IP4/$IP4_SUFFIX/" -e "s/OSISM_IP6/$IP6_SUFFIX/" $BASE/01-osism.yaml > /etc/netplan/01-osism.yaml
chmod 600 /etc/netplan/01-osism.yaml
sed -e "s/OSISM_IP4/$IP4_SUFFIX/" -e "s/OSISM_IP6/$IP6_SUFFIX/" -e "s/OSISM_HOST/$SYSTEM_HOSTNAME/" $BASE/frr.conf > /etc/frr/frr.conf
cp $BASE/daemons /etc/frr/
cp $BASE/05-dummy0.netdev /etc/systemd/network/
chmod 600 /etc/systemd/network/05-dummy0.netdev
chown systemd-network:root /etc/systemd/network/05-dummy0.netdev

systemctl restart systemd-networkd
netplan apply

interface_problems=0
for interface in "{{ interface1_name }}" "{{ interface2_name }}";
do
   echo "-> checking interface $interface"
   ip link ls $interface|grep "state UP"
   if [ "$?" != "0" ];then
      echo "ERROR: interface not ready"
      interface_problems="$(( $interface_problems + 1 ))"
   fi
done
if [ $interface_problems -gt 0 ];then
   exit 1
fi

systemctl restart frr

echo "\n - \S - IP - {{ ipv4_base }}.${IP4_SUFFIX}" > /etc/issue
