- grub_device: false
  id: disk-nvme3n1
  name: ''
  path: /dev/nvme3n1
  preserve: false
  ptable: gpt
  type: disk
  wipe: superblock-recursive
- grub_device: false
  id: disk-nvme4n1
  name: ''
  path: /dev/nvme4n1
  preserve: false
  ptable: gpt
  type: disk
  wipe: superblock-recursive
- device: disk-nvme4n1
  flag: boot
  grub_device: true
  id: partition-0
  number: 1
  preserve: false
  size: 1GB
  type: partition
  wipe: superblock
- fstype: fat32
  id: format-0
  preserve: false
  type: format
  volume: partition-0
- device: disk-nvme4n1
  flag: ''
  grub_device: false
  id: partition-1
  number: 2
  preserve: false
  size: 1GB
  type: partition
  wipe: superblock
- fstype: ext4
  id: format-1
  preserve: false
  type: format
  volume: partition-1
- device: disk-nvme3n1
  flag: ''
  grub_device: false
  id: partition-2
  number: 1
  preserve: false
  size: 1GB
  type: partition
- device: disk-nvme3n1
  flag: ''
  grub_device: false
  id: partition-3
  number: 2
  preserve: false
  size: 1GB
  type: partition
- device: disk-nvme4n1
  flag: swap
  grub_device: false
  id: partition-4
  number: 3
  preserve: false
  size: 8GB
  type: partition
  wipe: superblock
- fstype: swap
  id: format-2
  preserve: false
  type: format
  volume: partition-4
- device: format-2
  id: mount-2
  path: ''
  type: mount
- device: disk-nvme3n1
  flag: swap
  grub_device: false
  id: partition-5
  number: 3
  preserve: false
  size: 8GB
  type: partition
  wipe: superblock
- fstype: swap
  id: format-3
  preserve: false
  type: format
  volume: partition-5
- device: format-3
  id: mount-3
  path: ''
  type: mount
- device: disk-nvme4n1
  flag: ''
  grub_device: false
  id: partition-6
  number: 4
  preserve: false
  size: -1
  type: partition
  wipe: superblock
- device: disk-nvme3n1
  flag: ''
  grub_device: false
  id: partition-7
  number: 4
  preserve: false
  size: -1
  type: partition
  wipe: superblock
- devices:
    - partition-6
    - partition-7
  id: vg-system
  name: system
  preserve: false
  type: lvm_volgroup
- id: lvm_partition-0
  name: root
  preserve: false
  size: 200GB
  type: lvm_partition
  volgroup: vg-system
  wipe: superblock
- fstype: ext4
  id: format-5
  preserve: false
  type: format
  volume: lvm_partition-0
- device: format-5
  id: mount-5
  path: /
  type: mount
- device: format-1
  id: mount-1
  path: /boot
  type: mount
- device: format-0
  id: mount-0
  path: /boot/efi
  type: mount
